/1Regestation Form
/Age calculator
/calculator.html
/CARD.html
/dateprogram.html
/leranjs.js
/Log_in page
/pratice program
/praticeprogram.html
/Responsive Nawbar
/Rock,paper and scissor Game
/TO_DO-LIST.html
/VertiNawbar